.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}
.bet-container {
  display: flex;

  gap: 8px;
}
