@keyframes move {
  0% {
    left: 0%;
    top: -40px;
  }

  95% {
    transform: rotate(15deg);
  }

  100% {
    left: 95%;
    top: -40px;
    transform: rotate(0deg);
  }
}
.chell-container {
  position: relative;
}
.chell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.bolt {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  width: 24px;
  height: 24px;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.truck-container {
  height: 35px;
}
.truck {
  position: absolute;
  animation: move 3s ease forwards;
}

@media screen and (max-width: 610px) {
  .image {
    width: 16px;
    height: 16px;
  }
}
